/* General Styles */
input, select {
    outline: none;
    border-radius: 5px;
}

.selected-customer {
    background-color: #E30039;
    color: white;
    padding: 5px 10px;
}

.container-config {
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
}

.config-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.config-title-ticket {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e30039;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 0.5rem;
}

button img {
    margin-right: 0.5rem;
}

.overflow-y-scroll {
    overflow-y: auto;
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .grid {
        display: flex;
        flex-direction: column;
    }

    .container-config {
        width: 100%;
    }

    button {
        width: 100%;
    }

    button img {
        width: 20px;
        height: 20px;
    }

    input, select {
        width: 100%;
    }

    .absolute {
        width: 90%;
    }

    .overflow-y-scroll {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }

    .container-config {
        height: 25rem;
    }

    button img {
        width: 24px;
        height: 24px;
    }
}
