<div class="grid grid-cols-1 lg:grid-cols-4 gap-4 font-inter text-sm font-semibold">
    <div class="container-config">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="bg-[#FFF] rounded-[10px] p-4">
            <div class="config-title">
                <h1>Add customer</h1>
            </div>
            <div class="flex flex-col gap-4">
                <div class="flex flex-col">
                    <label class="config-title-ticket">SIRET</label>
                    <input formControlName="customer_siret" placeholder="Siret" type="text" class="p-2 border border-solid border-[#E30039] rounded-md w-full" />
                </div>
                <div class="flex flex-col">
                    <label class="config-title-ticket">Name</label>
                    <input formControlName="customer_name" placeholder="Name" type="text" class="p-2 border border-solid border-[#E30039] rounded-md w-full" />
                </div>
                <div class="flex flex-col">
                    <label class="config-title-ticket">Description</label>
                    <input formControlName="customer_description" placeholder="Description" type="text" class="p-2 border border-solid border-[#E30039] rounded-md w-full" />
                </div>
                <div class="flex justify-center">
                    <button type="submit" class="flex items-center justify-center bg-custom text-black rounded-md border border-solid border-black py-2 px-4 w-full sm:w-auto">
                        <img src="assets/icons/save.png" class="w-5 h-5 mr-2"/>
                        Confirm
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="container-config col-span-3">
        <div class="config-title">
            <h1>Field list</h1>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
            <div>
                <label class="config-title-ticket">Customers</label>
                <div class="overflow-y-scroll h-[15rem] border border-solid border-black p-2">
                    <h2 class="cursor-pointer" (click)="selectCustomer('')" [ngClass]="{ 'selected-customer': idCustomer === '' }">All</h2>
                    <h2 *ngFor="let customer of customers" class="cursor-pointer" (click)="selectCustomer(customer.customer_uuid)" [ngClass]="{ 'selected-customer': customer.customer_uuid === idCustomer }">
                        {{ customer.customer_name }}
                    </h2>
                </div>
            </div>
            <div>
                <label class="config-title-ticket">Fleets</label>
                <div class="overflow-y-scroll h-[15rem] border border-solid border-black p-2">
                    <h2 class="cursor-pointer" (click)="selectFleet(0, '', '')" [ngClass]="{ 'selected-customer': idFleet === 0 }">All</h2>
                    <h2 *ngFor="let fleet of fleets" class="cursor-pointer" (click)="selectFleet(fleet.fleet_id, fleet.fleet_name, fleet.fleet_description)" [ngClass]="{ 'selected-customer': fleet.fleet_id === idFleet }">
                        {{ fleet.fleet_name }}
                    </h2>
                </div>
                <div class="flex gap-2 mt-4">
                    <button (click)="toggleCreationFleet()" class="bg-custom text-black rounded-md border border-solid border-black py-2 px-4 w-full sm:w-auto">
                        <img src="assets/icons/create-ticket.png" class="w-5 mr-2"/>
                        New Fleet
                    </button>
                    <button *ngIf="idFleet !== 0" (click)="toggleUpdateFleet()" class="bg-custom text-black rounded-md border border-solid border-black py-2 px-4 w-full sm:w-auto">
                        <img src="assets/icons/update.png" class="w-5 h-5" />
                    </button>
                </div>
            </div>
            <div>
                <label class="config-title-ticket">Ships</label>
                <div class="overflow-y-scroll h-[15rem] border border-solid border-black p-2">
                    <h2 *ngFor="let ship of ships" class="cursor-pointer" (click)="selectShip(ship.ship_uuid, ship.ship_name, ship.ship_description)" [ngClass]="{ 'selected-customer': ship.ship_uuid === uuidShip }">
                        {{ ship.ship_name }}
                    </h2>
                </div>
                <div class="flex gap-2 mt-4">
                    <button (click)="toggleCreationShip()" class="bg-custom text-black rounded-md border border-solid border-black py-2 px-4 w-full sm:w-auto">
                        <img src="assets/icons/create-ticket.png" class="w-5 mr-2"/>
                        New Ship
                    </button>
                    <button *ngIf="uuidShip !== ''" (click)="toggleUpdateShip()" class="bg-custom text-black rounded-md border border-solid border-black py-2 px-4 w-full sm:w-auto">
                        <img src="assets/icons/update.png" class="w-5 h-5" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals (Add Fleet, Add Ship, etc.) unchanged -->
