<div class="container-page">
    <div class="rounded-[1rem]">
        <!-- Adjust the grid layout for mobile and desktop -->
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-9 border border-solid border-black text-center rounded-t-[10px]">
            <ng-container *ngFor="let route of configRoutes">
                <a
                    (click)="changeUrl()"
                    [routerLink]="route.path"
                    class="py-3 border-r border-solid border-black"
                    [ngClass]="{'text-white bg-custom': currentRoute.includes(route.path)}"
                >
                    {{ route.label }}
                </a>
            </ng-container>
        </div>

        <!-- Ensure the content below adjusts for mobile screens with padding and hidden overflow adjustments -->
        <div class="bg-[#EEE] rounded-b-[1rem] p-[1rem] overflow-y-hidden sm:p-[1.5rem] lg:p-[2rem]">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
