button.active {
  border-radius: 10px;
  border: 1px dashed rgba(0, 0, 0, 0.50);
  background: #C8E1FF;
  padding: 2px;
  width: 80px;
}

.circle {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 6px;
}

.open {
  background-color: #09EB63; /* Circle color for open */
}

.closed {
  background-color: #ED0808; /* Circle color for closed */
}

.filter {
  color: white;
  background-color: #E30039;
  padding: 3px 6px;
  border: 1px solid black;
  border-radius: 10px;
}

.selected {
  color: white;
  background-color: #E30039;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination-button,
.pagination-input {
  margin: 0 0.2rem;
}

/* --- RESPONSIVE STYLES --- */

/* For mobile screens (max-width: 768px) */
@media (max-width: 768px) {
  .grid {
      display: flex;
      flex-direction: column;
      gap: 1rem;
  }

  .w-full {
      width: 100%;
  }

  .page-title,
  .page-title-element {
      font-size: 1.25rem;
      text-align: center;
  }

  .creation-item-input-prma {
      width: 100%;
      margin-top: 0.5rem;
  }

  .pagination {
      flex-direction: column;
      gap: 1rem;
  }

  .header-buttons-item {
      width: 100%;
  }
}

/* For larger screens (min-width: 768px) */
@media (min-width: 768px) {
  .w-full {
      width: 100%;
  }

  .grid-cols-2 {
      grid-template-columns: repeat(2, 1fr);
  }

  .grid-cols-4 {
      grid-template-columns: repeat(4, 1fr);
  }

  .custom-scrollbar {
      max-width: 100%;
  }
}
